@import url("./__item/photo-grid__item.css");
.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 16px;
    padding: 92px 48px 0;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(3, auto);
        gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(2, auto);
        gap: 16px;
        padding: 88px 24px 0;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        grid-template-columns: repeat(1, auto);
        gap: 12px;
        padding: 64px 16px 0;
    }
}