.cover__background {
    margin: 0 auto;
    width: 100%;
    color: #FFFFFF;
    background-image: url("../../../images/cover-trains.jpg");
    max-width: 1184px;
    min-height: 740px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1279px) {
    .cover__background {
        min-width: 1024px;
    }
}

@media (max-width: 1023px) {
    .cover__background {
        min-height: 480px;
        max-width: 768px;
    }
}

@media (max-width: 767px) {
    .cover__background {
        min-height: 200px;
        min-width: 320px;
    }
}