@import url("./__list/footer__list.css");
@import url("./__list-item/footer__list-item.css");
@import url("./__link/footer__link.css");
@import url("./__copyright/footer__copyright.css");
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px 24px;
    color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
    .footer {
        padding: 0 24px 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        align-items: flex-start;
        flex-direction: column;
        padding-left: 16px;
    }
}